@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import url("hover-min.css");

:root {
    --green: #2ec090;
    --boxbg: #ffffff0f;
    --white: #fff;
    --opacity: #203b46ba;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--opacity);
}

::-webkit-scrollbar-thumb {
    background: #089c6b;
}




.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo img {
    width: 3.7vw;
    cursor: pointer;
    opacity: 1;
    z-index: 0;
}

.profile {
    display: flex;
    gap: 0.7vw;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 76vh;
    width: 100%;
    position: relative;
}

/* section.menu>div.menu-item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 7.5vw;
    margin-top: 0vh;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid black;
    background: linear-gradient(135deg, #10A3A2 38.02%, #FF1E7D 100%);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
} */



.menu-item-text h3 {
    display: flex;
    padding: 0.45vw 1.40vw;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background: linear-gradient(135deg, rgba(16, 163, 162, 0.90) 0%, rgba(16, 163, 162, 0.90) 0.01%, rgba(133, 98, 144, 0.90) 54.69%, rgba(255, 30, 125, 0.90) 100%);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: 400ms;
    font-size: 0.95vw;
    cursor: pointer;
    font-weight: 400;
    list-style-type: none;
}

.menu-item-text h3:hover {
    color: rgb(0, 245, 245);
    transition: 400ms;
}


.menu-item-text h3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: linear-gradient(135deg, rgb(136, 15, 66) 0%, rgb(136, 15, 66) 0.01%, rgb(88, 64, 95) 54.69%, rgb(11, 119, 119) 100%);
    z-index: -1;
    opacity: 0;
    transition: opacity 400ms;
    transition: 400ms;
    color: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.53);
}

.menu-item-text h3:hover::after {
    opacity: 1;
    transition: 400ms;
}

.menu-item-text>p {
    font-size: 1vw;
    font-weight: 400;
}

/* .menu-item-icon img {
    width: 28vh;
    margin-left: -7vh;
    margin-top: -6vh;
}

.menu-item-icon>i {
    font-size: 6vh;
    margin-top: -3vh;
    margin-left: 2vh;
}

.menu-item-icon>span>i {
    font-size: 6vh;
    margin-top: -3vh;
    margin-left: 2vh;
} */

ul {
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    list-style-type: none;
}



#musicicon {
    display: flex;
    padding: 0.45vw 0vw;
    width: 4vw;
    max-width: 100px;
    justify-content: center;
    align-items: center;
    gap: 0.31vw;
    border-radius: 2rem;
    background: linear-gradient(135deg, rgba(16, 163, 162, 0.90) 0%, rgba(16, 163, 162, 0.90) 0.01%, rgba(133, 98, 144, 0.90) 54.69%, rgba(255, 30, 125, 0.90) 100%);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
    font-size: 1vw;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: 400ms;
}


#musicicon:hover {
    color: rgb(0, 245, 245);
    transition: 400ms;
}


#musicicon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: linear-gradient(135deg, rgb(136, 15, 66) 0%, rgb(136, 15, 66) 0.01%, rgb(88, 64, 95) 54.69%, rgb(11, 119, 119) 100%);
    z-index: -1;
    opacity: 0;
    transition: opacity 400ms;
    transition: 400ms;
    color: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.53);
}

#musicicon:hover::after {
    opacity: 1;
    transition: 400ms;
}




/* Links */

.nav ul>li>a {
    display: flex;
    padding: 0.45vw 1.40vw;
    justify-content: center;
    align-items: center;
    gap: 0.31vw;
    border-radius: 2rem;
    background: linear-gradient(135deg, rgba(16, 163, 162, 0.90) 0%, rgba(16, 163, 162, 0.90) 0.01%, rgba(133, 98, 144, 0.90) 54.69%, rgba(255, 30, 125, 0.90) 100%);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 0.95vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: 400ms;
}

.nav ul>li>a:hover {
    color: rgb(0, 245, 245);
    transition: 400ms;
}


.nav ul>li>a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: linear-gradient(135deg, rgb(136, 15, 66) 0%, rgb(136, 15, 66) 0.01%, rgb(88, 64, 95) 54.69%, rgb(11, 119, 119) 100%);
    z-index: -1;
    opacity: 0;
    transition: opacity 400ms;
    transition: 400ms;
    color: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.53);
}

.nav ul>li>a:hover::after {
    opacity: 1;
    transition: 400ms;
}



hr {
    border-top: 0.6vh solid var(--green);
    border-bottom: none;
    margin-top: 3vh;
    border-left: none;
    border-right: none;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    color: var(--white);
    background: rgba(0, 0, 0, 0.60);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 0.7vw;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}


.profile img {
    height: 100%;
    width: 2.5vw;
    border-radius: 100px;
    border-radius: 6rem;
    border: 0.18rem solid rgba(25, 252, 252, 0.8);
}

.profile span {
    color: #FFF;
    font-size: 0.85vw;
    font-weight: 400;
}

.profile ul {
    text-align: center;
}

.rotate {
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.loading {
    text-align: right;
    margin-right: 5vh;
    margin-top: 5vh;
}

.loading>img {
    width: 7vh;
    background: #1a3a300d;
    padding: 2vh;
    border-radius: 1vh;
}

footer>.info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 3vw;
    font-size: 0.9vw;
    font-weight: 400;
    padding: 2vw;
    border-radius: 1.29rem;
    background: linear-gradient(135deg, #10A3A2 38.02%, #FF1E7D 100%);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.2vw;
}

footer>.info>span>i {
    font-size: 3vh;
    color: var(--green);
}

footer>.info>p {
    display: inline-block;
}

footer>h5 {
    position: absolute;
    right: -37vh;
    font-size: 1.3vh;
    color: var(--white);
    background: var(--green);
    padding: 1.3vh;
    border-radius: 1vh;
    font-weight: 600;
    top: -5vh;
}

iframe {
    transition: opacity 500ms ease-in-out;
    transition-delay: 250ms;
}

.loadingbar {
    width: 109% !important;
    height: auto !important;
    padding: 20px !important;
    padding-left: 0px !important;
    padding-right: 25px !important
}

.loadbar {
    width: auto;
    height: 1.5vh;
    background: rgb(46 46 46);
    box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
    z-index: 9999;
}

.thingy {
    width: auto;
    height: 1.5vh;
    background: var(--green);
    z-index: 9999;
}

div.menu-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    top: 45%;
    left: 50%;
    border-radius: 1.35rem;
    background-color: rgba(0, 0, 0, 0.96);
    padding: 1.5vw 2vw;
    margin-bottom: 3.5vw;
    transform: translate(-50%, -50%);
    height: 30vw;
    width: 35vw;
}


div.menu-content>h3 {
    text-align: center;
    font-size: 2.1vh;
    background: #089c6b;
    border-radius: 0.6vh;
    padding: 2.5vh;
    margin-bottom: 3.3vh;
}

div.menu-content>p {
    word-wrap: break-word;
    line-height: 1vw;
    white-space: pre-wrap;
    font-size: 1.7vh;
    padding-left: 0.5vh;
    letter-spacing: auto;
    max-width: 77vh;
    max-height: 43vh;
    font-weight: 300;
    overflow: auto;
    font-family: "Roboto", sans-serif;
}



div.menu-update {
    display: none;
    position: absolute;
    border-radius: 10px;
    top: 45%;
    left: 50%;
    border-radius: 1.35rem;
    background-color: rgba(0, 0, 0, 0.96);
    padding: 1.5vw 2vw;
    margin-bottom: 3.5vw;
    transform: translate(-50%, -50%);
    height: 30vw;
    width: 35vw;
}

div.menu-update>h3 {
    text-align: center;
    font-size: 2.1vh;
    background: #089c6b;
    border-radius: 0.6vh;
    padding: 2.5vh;
}

div.menu-update>p {
    margin-top: 2.6vh;
    word-wrap: break-word;
    line-height: 2.4vw;
    white-space: pre-wrap;
    font-size: 1.7vh;
    padding-left: 0.5vh;
    letter-spacing: auto;
    max-width: 77vh;
    max-height: 43vh;
    font-weight: 300;
    overflow: auto;
    font-family: "Roboto", sans-serif;
}

.snow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    display: none;
}


.button__text {
    position: absolute;
    right: 1vw;
    bottom: 0.9vw;
    border: none;
    color: white;
    background: none;
    font-size: 1.9vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: opacity 1s ease-in-out;
    animation: fade 3.5s infinite;
}


@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* .button__progress {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background: var(--green);
    transition: width 0.3s;
} */


#area {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    background-color: #ecf0f1;
    box-shadow: 0 0 20px 7px #b0b0b061;
    display: none;
}

body {
    background: #000;
}

h1,
h2,
h3 {
    color: white;
    text-align: center;
}

.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin-left: -1.9vh;
    padding: 0;
    pointer-events: none;
    width: 100%;
}

.lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 90%;
    margin: 20px;
    display: inline-block;
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
    animation-name: flash-1;
    animation-duration: 2s;
}

.lightrope li:nth-child(2n + 1) {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
    animation-name: flash-2;
    animation-duration: 0.4s;
}

.lightrope li:nth-child(4n + 2) {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
    animation-name: flash-3;
    animation-duration: 1.1s;
}

.lightrope li:nth-child(odd) {
    animation-duration: 1.8s;
}

.lightrope li:nth-child(3n + 1) {
    animation-duration: 1.4s;
}

.lightrope li:before {
    content: "";
    position: absolute;
    background: #d3d3d3;
    width: 10px;
    height: 9.3333333333px;
    border-radius: 3px;
    top: -4.6666666667px;
    left: 1px;
}

.lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #d3d3d3 2px;
    border-radius: 50%;
}

.lightrope li:last-child:after {
    content: none;
}

.lightrope li:first-child {
    margin-left: -40px;
}

@keyframes flash-1 {

    0%,
    100% {
        background: #BB2528;
        box-shadow: 0px 4.6666666667px 24px 3px #BB2528;
    }

    50% {
        background: #F8B229;
        box-shadow: 0px 4.6666666667px 24px 3px #F8B229;
    }
}

@keyframes flash-2 {

    0%,
    100% {
        background: #146B3A;
        box-shadow: 0px 4.6666666667px 24px 3px #146B3A;
    }

    50% {
        background: #EA4630;
        box-shadow: 0px 4.6666666667px 24px 3px #EA4630;
    }
}

@keyframes flash-3 {

    0%,
    100% {
        background: #146B3A;
        box-shadow: 0px 4.6666666667px 24px 3px #146B3A;
    }

    50% {
        background: #EA4630;
        box-shadow: 0px 4.6666666667px 24px 3px #EA4630;
    }
}